<div class="home-container">
  <header class="header">
    <h1>C00l-W4r3ZZZZZZ 420</h1>
  </header>

  <main class="main-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Kino ajánló</mat-card-title>
        <mat-card-subtitle>Film és sorozat ajánlások</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Fedezd fel a legjobb filmeket és sorozatokat! Ne hagyd ki a legújabb ajánlatokat!
        </p>
        <div class="button-container">
          <button mat-raised-button color="primary" matTooltip="További információk">
            További ajánlások
          </button>
          <button mat-raised-button color="accent" (click)="navigateToTorrentList()" matTooltip="Torrent lista">
            Torrent Lista
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <mat-icon>star</mat-icon> 4.5 / 5
      </mat-card-footer>
    </mat-card>

    <button mat-icon-button matTooltip="Kattints ide" aria-label="Info">
      <mat-icon>info</mat-icon>
    </button>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Kókány Bt.</p>
  </footer>
</div>