  
<div class="home-container">
    <nav class="navbar">
        <table style="width: 100%; border-spacing: 10px; text-align: center;">
            <tr>
                <td><a href="#">Home</a></td>
                <td><a href="#">Browse</a></td>
                <td><a href="#">Top 100</a></td>
                <td><a href="#">Search</a></td>
                <td><a href="app-login">Login</a></td>
                <td><a href="#">Profile</a></td>   </table>
    </nav>
    <header class="header"> 
        <h1>C00l-W4r3ZZZZZZ 420</h1>        
    </header>
    <main class="main-content">
        <h2>kino</h2>
        <form class="search-form">
            <input type="text" placeholder="Search torrents..." />
            <button type="submit">Search</button>
        </form>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Kókány Bt.</p>
    </footer>
</div>