@use '@angular/material' as mat;

:root {
    @include mat.toolbar-overrides(
        (container-background-color: blue,
        container-text-color: white,)
    );
}
body {
    margin: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

